/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

body
  margin: 0

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
  display: block

audio, canvas, progress, video
  display: inline-block
  vertical-align: baseline

audio:not([controls])
  display: none
  height: 0

[hidden], template
  display: none

a
  background: transparent
  &:active, &:hover
    outline: 0

abbr[title]
  border-bottom: 1px dotted

b, strong
  font-weight: bold

dfn
  font-style: italic

h1
  font-size: 2em
  margin: 0.67em 0

mark
  background: #ff0
  color: #000

small
  font-size: 80%

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

img
  border: 0

svg:not(:root)
  overflow: hidden

figure
  margin: 1em 40px

hr
  -moz-box-sizing: content-box
  box-sizing: content-box
  height: 0

pre
  overflow: auto

code, kbd, pre, samp
  font-family: monospace, monospace
  font-size: 1em

button, input, optgroup, select, textarea
  color: inherit
  font: inherit
  margin: 0

button
  overflow: visible

button, select
  text-transform: none

button, html input[type="button"], input[type="reset"], input[type="submit"]
  -webkit-appearance: button
  cursor: pointer

button[disabled], html input[disabled]
  cursor: default

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

input
  line-height: normal

input[type="checkbox"], input[type="radio"]
  box-sizing: border-box
  padding: 0

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button
  height: auto

input[type="search"]
  -webkit-appearance: textfield
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none

fieldset
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em

legend
  border: 0
  padding: 0

textarea
  overflow: auto

optgroup
  font-weight: bold

table
  border-collapse: collapse
  border-spacing: 0

td, th
  padding: 0




// ***********
// User Styles
// ***********

// Variables
font-stack = "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
font-size-base = 16px
line-height-base = 1.4

// Extra Small Devices, Phones
screen-sm = 35.5em

// Small Devices, Tablets
screen-md = 48em

// Medium Devices, Desktops
screen-lg = 64em

// Large Devices, Wide Screens
screen-xl = 80em


// Global Styles
html
 font-size: font-size-base
 line-height: line-height-base
 -webkit-font-smoothing: antialiased

body
  font-family: font-stack
  font-weight: 300
  font-size: 1.125em
  //background: url(../img/bg.jpg) no-repeat center center fixed
  //background-size: cover


// Headings
h1
  font-weight: 300

h2, h3
  font-weight: 400

h4, h5, h6
  font-weight: 600

// Anchors
a
  text-decoration: none

a:hover
  text-decoration: underline


// Abbreviations
abbr[title]
  cursor: help
  border-bottom: 1px dotted gray


// Lists
ul
  padding: 0

// Header
header
  position: fixed
  top: 0
  right: 0
  left: 0
  height: 100%
  text-align: center
  z-index: -1

.header__content
  position: fixed
  top: 10%
  left: 0
  right: 0

header a
  color: inherit

header a:hover
  text-decoration: none

.main-nav ul
  list-style-type: none

.main-nav li
  display: inline-block

.main-nav a
  display: inline-block
  padding: 0.4em

.main-nav a:hover
  text-decoration: underline


// Logo Animation
.logo__b
  stroke-dasharray: 272
  stroke-dashoffset: 272
  animation: dash-b 2.5s ease-out forwards
  animation-delay: 1s

.logo__h__vertical
  stroke-dasharray: 135
  stroke-dashoffset: 135
  animation: dash-h-vertical 3.5s ease-out forwards
  animation-delay: 1s

.logo__h__curve
  stroke-dasharray: 135
  stroke-dashoffset: 135
  animation: dash-h-curve 3.25s ease-out forwards
  animation-delay: 1s

@keyframes dash-b
  0%
    stroke-dashoffset: 540
    opacity: 0
  95%
    opacity: 1
  100%
    stroke-dashoffset: 0

@keyframes dash-h-vertical
  0%
    stroke-dashoffset: 405
    opacity: 0
  90%
    opacity: 1
  100%
    stroke-dashoffset: 0

@keyframes dash-h-curve
  0%
    stroke-dashoffset: 405
    opacity: 0
  97%
    opacity: 1
  100%
    stroke-dashoffset: 0

// Sections
.section-container
  position: absolute
  top: 95%
  width: 100%

section, footer
  overflow: hidden
  width: 100%

.content
  margin: 0 auto
  max-width: screen-lg

#services
  background-color: #e0e0e0

#work
  background-color: #e8e8e8

#about
  background-color: #e3e3e3

#contact
  background-color: #e0e0e0

footer
  background-color: #383838


// Contact Form
.contact-form__field label
  display: block


// Footer
footer ul
  list-style-type: none

footer li
  display: inline-block

.display-lg
  display: none

// Mobile-first Media Queries

/* Extra Small Devices, Phones */
@media only screen and (min-width : screen-sm)
  .contact-form__field label
    display: inline-block

/* Small Devices, Tablets */
//@media only screen and (min-width : screen-md)

/* Medium Devices, Desktops */
@media only screen and (min-width : screen-lg)
  body
    font-size: 1.375em
  .display-lg
    display: inline-block

/* Large Devices, Wide Screens */
//@media only screen and (min-width : screen-xl)
