doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Ben Hohner - UX / Web Development &amp; Design
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="css/pure-min.css")
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/pure-grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="css/pure-grids-responsive-min.css">
    <!--<![endif]-->
    link(rel='stylesheet', href='css/main.css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600', rel='stylesheet', type='text/css')
    script(src="js/main.js")
  body
    header
      .header__content
        a(href="/")
          |<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="148px" height="226px" viewBox="0 0 74 113" version="1.1" class="logo-box">
          |    <style>
          |   .logo {
          |       fill:   none;
          |       fill-rule:  evenodd;
          |     stroke-linejoin:  round;
          |        stroke-linecap: round;
          |        stroke-width:   2;
          |    }
          |    .logo__b {
          |        stroke: #55ADAB;
          |    }
          |    .logo__h {
          |        stroke: #49867C;
          |    }
          |    </style>
          |    <title>Ben Hohner Logo</title>
          |    <defs/>
          |    <g transform="translate(1.000000, 1.000000)" class="logo">
          |        <path d="M0 3 L0 57 L0 93 L36 111 L72 93 L72 57 L36 39 L16 49" class="logo__b"/>
          |        <g class="logo__h">
          |            <path d="M7.5 0 L7.5 53.4 L7.5 89" class="logo__h__vertical"/>
          |            <path d="M7.8 62.2 L36.403 47.8 L64.81 62 L64.81 89" class="logo__h__curve"/>
          |        </g>
          |    </g>
          |</svg>
        .hero-headings
          h1.name: a(href="/") ben hohner
          h1.job-description: a(href="#services", data-scroll).
            <abbr title="User Experience Design">ux</abbr>
            <abbr title="Web Design">design</abbr>
            <abbr title="Web Development">dev</abbr>
        nav.main-nav
          ul
            li: a(href="#services", data-scroll) what i do
            li: a(href="#work", data-scroll) my work
            li: a(href="#about", data-scroll) find me
            li: a(href="#contact", data-scroll) hire me
    .section-container
      section#services
        .content
          h2 Services
          h3 The experience of a web veteran
          .pure-g
            .service.pure-u-1
              svg(viewbox="0 0 150 150").icon.icon-love: <use xlink:href="#icon-love"></use> 
              h4 User Experience Design
              ul
                li Needs Analysis
                li Wireframes
                li Information Architecture
                li Usability Testing
                li User Flow
                li Prototyping
          .pure-g
            .service.pure-u-1.pure-u-md-1-2
              svg(viewbox="0 0 150 150").icon.icon-compass: <use xlink:href="#icon-compass"></use> 
              h4 Consulting
              ul
                li Web Presence
                li User Experience
                li Social Media
                li Branding
                li Python
                li Internet Culture
            .service.pure-u-1.pure-u-md-1-2
              svg(viewbox="0 0 150 150").icon.icon-wireframe: <use xlink:href="#icon-wireframe"></use> 
              h4 Development & Design
              ul
                li Front End Development
                li Web Design
                li User Interface Design
                li Back End Development
          .pure-g
            .service.pure-u-1
              svg(viewbox="0 0 150 150").icon.icon-eye: <use xlink:href="#icon-eye"></use> 
              h4 Brand Identity
              ul
                li Logo Design
                li SEO
                li Branding
                li Digital Marketing
      section#work
        .content
          h2 Work
          h3 Practice Makes Awesome
          .pure-g
            .project.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              img(src='../img/portfolio/moon_law/moon-law-1.png', alt='mooncriminallaw.ca footer').project__image.pure-img
              .project__description
                h4.project__description__title Moon Criminal Law
                p.project__description__text Design and front end development for law firm, skillfully reflecting client's vision.
            .project.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              img(src='img/portfolio/aurelia_mastering/aurelia-mastering-1.png', alt='Aurelia Mastering Studio Prototype').project__image.pure-img
              .project__description
                h4.project__description__title Aurelia Mastering Studio
                p.project__description__text Minimalist rapid prototype for an audio mastering business.
            .project.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              img(src='img/portfolio/guide_me/guide-me-1.png', alt='Guide Me JavaScript guided meditation tool').project__image.pure-img
              .project__description
                h4.project__description__title Guide Me
                p.project__description__text A guided meditation tool prototyped in 8 hours.
            .project.pure-u-1.pure-u-md-1-2.pure-u-lg-1
              .pure-g
                div.pure-u-1.pure-u-lg-1-3: img(src='img/portfolio/feathercoin/feathercoin-1.jpg' alt='feathercoin.com main page').project__image.pure-img
                div.display-lg.pure-u-lg-1-3: img(src='img/portfolio/feathercoin/feathercoin-5.png', alt='feathercoin.com mining profitability calculator').project__image.pure-img
                div.display-lg.pure-u-lg-1-3: img(src='img/portfolio/feathercoin/feathercoin-3.jpg', alt='feathercoin.com upclose hero text').project__image.pure-img
              .project__description
                h4.project__description__title FeatherCoin
                p.project__description__text Cryptocoin with $29m peak market cap. Improved existing site design, usability, and integrated new features.
          .pure-g
            .project.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              img(src='img/portfolio/whatstolose/whatstolose-1.png', alt='whatstolose.com user home page').project__image.pure-img
              .project__description
                h4.project__description__title What's To Lose
                p.project__description__text Lead planning and full stack development of a weight loss social network.
            .project.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              img(src='img/portfolio/barsink/barsink-1.png', alt='Some javascript code from barsink').project__image.pure-img
              .project__description
                h4.project__description__title Barsink
                p.project__description__text Everything but the kitchen sink. Open Source build system for rapid prototyping, based on gulp.js.
            .project.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              img(src='img/portfolio/web_image_guidelines/web-image-guidelines-1.png', alt='Image compression flowchart').project__image.pure-img
              .project__description
                h4.project__description__title Web Image Guidelines
                p.project__description__text
                  Helpful flowchart for exporting images for the web. 
                  a(href="file/web-image-guidelines-infographic.pdf" title="(PDF) 89kB") Download it for free.
            .project.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              img(src='img/portfolio/absolutely_you/absolutely-you-1.png', alt='Absolutely You contact form').project__image.pure-img
              .project__description
                h4.project__description__title Absolutely You
                p.project__description__text Worked in a team to develop an easy to update site with in-page, WYSIWYG editing of all site text.
            .project.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              img(src='img/portfolio/personal_branding/personal-branding-1.jpg', alt='A composition of some of my logo iterations').project__image.pure-img
              .project__description
                h4.project__description__title Ben Hohner Branding
                p.project__description__text Complete logo design and branding for my personal brand.
            .project.pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
              img(src='img/portfolio/benhohner/benhohner-placeholder.png', alt='Placeholder image for when site design is finished').project__image.pure-img
              .project__description
                h4.project__description__title BenHohner.com
                p.project__description__text Full development, needs analysis, research, personas, wireframes, design.
      section#about
        .content
          .pure-g
            .about.pure-u-1.pure-u-md-3-5
              h2 About
              h3 I'm easy to excite
              p.
                I'm a blossoming User Experience Designer, rooted in Web Development. I discovered my passion for making things better at a young
                age and I'm finally making it my career.
              p.
                I see so many opportunities for improvement around us every day, and I want to
                help. I see businesses unable to reach their desiring customers, only
                because of a simple usability issue. Every day I see potential for improving convoluted interactions.
                I want to make the world a better place by improving user experience everywhere.
              p.
                When I'm not absorbing knowledge like a sponge, I enjoy Programming,
                Parkour, Chess, Wing Chun Kung Fu, Photography, Travel, and Camping.
            .pure-u-1.pure-u-md-2-5
              #resume.resume
                h2 Resume
                a(href="file/ben-hohner-resume.pdf", title="(PDF) 156kB", _target="blank").pure-button.button-xlarge Download Here
              #social.social
                h2 Social
                ul
                  li: a(href="http://linkedin.com/in/benhohner", target="_blank") LinkedIn
                  li: a(href="https://twitter.com/BHohner", target="_blank") Twitter
                  li: a(href="https://github.com/benhohner", target="_blank") GitHub
                  li: a(href="mailto:benhohner@gmail.com", target="_blank") Email
      section#contact
       .content
          h2 Get In Contact
          form(action="post",method="").contact-form
            .contact-form__fields
              .contact-form__field
                label(for="name") Hi! My name is 
                input(id="name", name="name", type="text", maxlength="255" value="", placeholder="Your Name")
              .contact-form__field
                label(for="email") and my Email is 
                input(id="email", name="email", type="text", maxlength="255" value="", placeholder="Your Email")
                span .
              .contact-form__field
                label(for="interest") I'm interested in
                select(id="interest", name="interest")
                  option(value='0', selected="selected")
                  option(value='1') User Experience Design
                  option(value='2') Consulting
                  option(value='3') Web Development
                  option(value='4') Sharing a Job Opportunity
                  option(value='5') Just Saying Hi
                span .
              .contact-form__field
                label(for="message") Here's some more info:
                div
                  textarea(id="message", name="message", placeholder="Details...")
              .contact-form__button
                input(type="submit", name="submit", value="Send! (Under Construction)").pure-button
      footer
        .content
          .pure-g
            .site-map.pure-u-1.pure-u-md-3-5
              h2 Site map
              ul.sitemap.pure-g
                li.pure-u-1-2: a(href="#", data-scroll) Home
                li.pure-u-1-2: a(href="#services", data-scroll) Services
                li.pure-u-1-2: a(href="#work", data-scroll) Work
                li.pure-u-1-2: a(href="#about", data-scroll) About
                li.pure-u-1-2: a(href="#resume", data-scroll) Resume
                li.pure-u-1-2: a(href="#social", data-scroll) Social
                li.pure-u-1-2: a(href="#contact", data-scroll) Contact
            .social.pure-u-1.pure-u-md-2-5
              h2 Social
              ul.social.pure-g
                li.pure-u-1-2.pure-u-sm-1-4: a(href="http://linkedin.com/in/benhohner", target="_blank") LinkedIn
                li.pure-u-1-2.pure-u-sm-1-4: a(href="https://twitter.com/BHohner", target="_blank") Twitter
                li.pure-u-1-2.pure-u-sm-1-4: a(href="https://github.com/benhohner", target="_blank") GitHub
                li.pure-u-1-2.pure-u-sm-1-4: a(href="mailto:benhohner@gmail.com", target="_blank") Email
          .smallprint
            p: small Crafted with love in 2014 by Ben Hohner.
    script(src='/js/smooth-scroll.min.js')
    script(type='text/javascript') smoothScroll.init();
    |<svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="301" height="301" viewBox="0 0 301 301">
    |<defs>
    |<g id="icon-wireframe">
    |    <path class="path1" d="M0 32.813v117.188h150v-150h-150zM4.688 37.5h44.531v107.813h-44.531zM53.906 145.313v-53.906h91.406v53.906zM145.313 86.719h-91.406v-49.219h91.406zM4.688 4.688h140.625v28.125h-140.625z"></path>
    |</g>
    |<g id="icon-compass">
    |    <path class="path1" d="M75 150.586c18.457 0 35.449-7.031 48.633-19.922 12.891-13.184 19.922-30.176 19.922-48.633s-7.031-35.449-19.922-48.633c-9.668-9.375-21.68-15.82-34.57-18.457 0-0.293 0-0.586 0-0.879 0-7.617-6.445-14.063-14.063-14.063s-14.063 6.445-14.063 14.063c0 0.293 0 0.586 0 0.879-12.891 2.637-24.902 9.082-34.57 18.457-12.891 13.184-19.922 30.176-19.922 48.633s7.031 35.449 19.922 48.633c13.184 12.891 30.176 19.922 48.633 19.922zM75 4.688c5.273 0 9.375 4.102 9.375 9.375-3.223-0.586-6.152-0.586-9.375-0.586s-6.152 0-9.375 0.586c0-5.273 4.102-9.375 9.375-9.375zM29.883 36.914c11.426-11.719 26.66-18.164 42.773-18.75v9.961h4.688v-9.961c16.113 0.586 31.348 7.031 42.773 18.75 11.719 11.426 18.164 26.66 18.75 42.773h-9.961v4.688h9.961c-0.586 16.113-7.031 31.348-18.75 42.773-11.426 11.719-26.66 18.164-42.773 18.75v-9.961h-4.688v9.961c-16.113-0.586-31.348-7.031-42.773-18.75-11.719-11.426-18.164-26.66-18.75-42.773h9.961v-4.688h-9.961c0.586-16.113 7.031-31.348 18.75-42.773zM87.598 95.801l1.172-1.172 18.75-44.531-2.93-2.93-44.531 18.75-1.172 1.172-16.406 42.188 2.93 2.93zM85.84 89.648l-20.801-20.801 36.035-15.234zM61.816 72.070l20.801 20.801-33.984 13.184z"></path>
    |</g>
    |<g id="icon-eye">
    |    <path class="path1" d="M75 112.5c47.461 0 73.535-34.57 74.414-36.035l1.172-1.465-1.172-1.465c-0.879-1.465-26.953-36.035-74.414-36.035s-73.535 34.57-74.414 36.035l-1.172 1.465 1.172 1.465c0.879 1.465 26.953 36.035 74.414 36.035zM75 42.188c39.844 0 64.16 26.367 69.727 32.813-5.566 6.445-29.883 32.813-69.727 32.813s-64.16-26.367-69.727-32.813c5.566-6.445 29.883-32.813 69.727-32.813zM75 93.75c10.254 0 18.75-8.496 18.75-18.75s-8.496-18.75-18.75-18.75c-10.254 0-18.75 8.496-18.75 18.75s8.496 18.75 18.75 18.75zM75 60.938c7.617 0 14.063 6.445 14.063 14.063s-6.445 14.063-14.063 14.063c-7.617 0-14.063-6.445-14.063-14.063s6.445-14.063 14.063-14.063z"></path>
    |</g>
    |<g id="icon-love">
    |    <path class="path1" d="M112.5 9.375c-17.285 0-31.934 9.668-37.5 23.145-5.566-13.477-20.215-23.145-37.5-23.145-23.438 0-37.5 20.215-37.5 39.844 0 20.215 12.598 41.602 37.207 63.867 18.164 16.406 36.328 27.246 36.621 27.246l1.172 0.586 1.172-0.586c0.293 0 18.457-10.84 36.621-27.246 24.609-22.266 37.207-43.652 37.207-63.867 0-19.629-14.063-39.844-37.5-39.844zM75 135.645c-9.375-5.859-70.313-44.531-70.313-86.426 0-17.285 12.305-35.156 32.813-35.156 16.992 0 35.156 11.719 35.156 30.469h4.688c0-18.75 18.164-30.469 35.156-30.469 20.508 0 32.813 17.871 32.813 35.156 0 41.895-60.938 80.566-70.313 86.426z"></path>
    |</g>
    |</defs></svg>