doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Ben Hohner - UX / Web Development &amp; Design
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Rosario:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Noto+Sans|Average+Sans|Signika:300|Titillium+Web', rel='stylesheet', type='text/css')
  body
    header
      img(src='img/logo@2x.png', alt='Ben Hohner\'s logo')
      h1 ben hohner
      h1.job-description ux, web developer & designer
      nav.main-nav
        ul
          li: a(href="#services") Services
          li: a(href="#work") Work
          li: a(href="#resume") Resume
          li: a(href="#about") About
          li: a(href="#contact") Contact
    section#services
      h1 YjXolmpWvkg
      p.
        When I see all the missed opportunities around us every day, I want to
        help. I see businesses unable to reach their desiring customers, only
        because of a simple usability issue. I see everyday people missing
        out due to convoluted interactions. In most cases these are
        unfortunate, and add to stress. In other cases, they're downright
        dangerous (as in the case of automotive media/navigation systems). 
      h2 Jackdyws Quartz
      p.
        When I see all the missed opportunities around us every day, I want to
        help. I see businesses unable to reach their desiring customers, only
        because of a simple usability issue. I see everyday people missing
        out due to convoluted interactions. In most cases these are
        unfortunate, and add to stress. In other cases, they're downright
        dangerous (as in the case of automotive media/navigation systems). 
      h3 jackdaws love my big sphynx of quartz
      p.
        When I see all the missed opportunities around us every day, I want to
        help. I see businesses unable to reach their desiring customers, only
        because of a simple usability issue. I see everyday people missing
        out due to convoluted interactions. In most cases these are
        unfortunate, and add to stress. In other cases, they're downright
        dangerous (as in the case of automotive media/navigation systems). 
      h4 jackdaws love my big sphynx of quartz
      p.
        When I see all the missed opportunities around us every day, I want to
        help. I see businesses unable to reach their desiring customers, only
        because of a simple usability issue. I see everyday people missing
        out due to convoluted interactions. In most cases these are
        unfortunate, and add to stress. In other cases, they're downright
        dangerous (as in the case of automotive media/navigation systems). 
      h5 jackdaws love my big sphynx of quartz
      p.
        When I see all the missed opportunities around us every day, I want to
        help. I see businesses unable to reach their desiring customers, only
        because of a simple usability issue. I see everyday people missing
        out due to convoluted interactions. In most cases these are
        unfortunate, and add to stress. In other cases, they're downright
        dangerous (as in the case of automotive media/navigation systems). 
      h6 jackdaws love my big sphynx of quartz
      p.
        When I see all the missed opportunities around us every day, I want to
        help. I see businesses unable to reach their desiring customers, only
        because of a simple usability issue. I see everyday people missing
        out due to convoluted interactions. In most cases these are
        unfortunate, and add to stress. In other cases, they're downright
        dangerous (as in the case of automotive media/navigation systems). 
      ul
        li User Experience Design
        li Consulting
          ul
            li Web Presence
            li User Experience
            li Social Media
            li Branding
            li Python
        li Front end Development
        li Python and PHP Web Development
        li Brand Identity
    section#work
      h2 Work
      ul
        li Guide Me
        li Aurelia Mastering Studio
        li Ben Hohner Branding
        li BenHohner.com
        li Image Compression Infographic
        li Moon Criminal Law
        li FeatherCoin
        li What's To Lose
        li Absolutely You
        li Portfolio
    section#resume
      h2 Resume
    section#about
      h2 About
      p.
        I'm a Web Developer &amp; Designer transitioning into User Experience
        Design. I discovered my passion for making things better at a young
        age and I'm finally making it my career.
      p.
        I observe a multitude of oppotunities for improvement every day, and I want to
        help. I see businesses unable to reach their desiring customers, only
        because of a simple usability issue. I see everyday people missing
        out due to convoluted interactions. In most cases these are
        unfortunate, and add to stress. In other cases, they're downright
        dangerous (as in the case of automotive media/navigation systems). 
      p.
        When I'm not absorbing knowledge like a sponge, I enjoy Programming, 
        Parkour, Chess, Wing Chun Kung Fu, Photography, Travel, and Camping.
    footer#contact
      div.message
        h2 Message Me
        form(action="post",method="")
          ul.contact-form__fields
            li.contact-form__field
              label(for="interest") Interested in...
              div
                select(id="interest", name="interest")
                  option(value="", selected="selected")
                  option(value='1') User Experience
                  option(value='2') Consulting
                  option(value='3') Web Development
                  option(value='4') Sharing a Job Opportunity
                  option(value='5') just saying hi
            li.contact-form__field
              label(for="name") Name
              div
                input(id="name", name="name", type="text", maxlength="255" value="")
            li.contact-form__field
              label(for="email") Email
              div
                input(id="email", name="email", type="text", maxlength="255" value="")
            li.contact-form__field
              label(for="message") Message
              div
                textarea(id="message", name="message")
            li.contact-form__button
              input(type="submit", name="submit", value="Submit")
      div.social
        h2 Social
        ul
          li: a(href="http://linkedin.com/in/benhohner", target="_blank") LinkedIn
          li: a(href="https://twitter.com/BHohner", target="_blank") Twitter
          li: a(href="https://github.com/benhohner", target="_blank") GitHub
          li: a(href="mailto:benhohner@gmail.com", target="_blank") Email
      div.smallprint
        p: small Crafted with love in 2014 by Ben Hohner.
